.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    min-width: 500px;
}

.formControls .ant-form-item-control-input-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}